# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# Visual Studio Code related
.vscode/
.history/

# Android related
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
**/GeneratedPluginRegistrant.java

# iOS related
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux related
linux/flutter/ephemeral/
linux/flutter/GeneratedPluginRegistrant.cc

# Windows related
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc

# Web related
web/.firebase/

# Others
build/
coverage/
*.lock
*.log

# Secrets (Important)
*.jks
*.keystore
*.p12
*.pem
*.cer
*.der
*.crt
*.key

# Environment files
.env*
.env.*
firebase_app_id_file.json
google-services.json
GoogleService-Info.plist

# Temporary files
*.tmp
*.swp
*.DS_Store
Thumbs.db
